.btn {
  position: relative;
  display: inline-block;
  font-family: $btn-font-family;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  color: $body-color;
  line-height: $btn-line-height;
  padding: $btn-padding-y $btn-padding-x;
  border-radius: $btn-border-radius;
  border: $border-width solid transparent;
  box-shadow: $btn-box-shadow;
  transition: $btn-transition;
  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    box-shadow: none;
    > * {
      pointer-events: none;
    }
  }
  &:focus {
    outline: 0;
  }
}
@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin button-color(
  $background-color,
  $border-color,
  $color,
  $hover-background-color: lighten($background-color, 7.5%),
  $hover-border-color: lighten($border-color, 10%),
  $hover-color: $color
) {
  color: $color;
  background-color: $background-color;
  border-color: $border-color;
  &:hover {
    color: $hover-color;
    background-color: $hover-background-color;
    border-color: $hover-border-color;
  }
  &:focus,
  &.focus {
    color: $hover-color;
    background-color: $hover-background-color;
    border-color: $hover-border-color;
  }
  &[disabled],
  &.disabled {
    color: $color;
    background-color: $background-color;
    border-color: $border-color;
  }
}
.btn-lg {
  @include button-size(
    $btn-padding-y-lg,
    $btn-padding-x-lg,
    $btn-font-size-lg,
    $btn-border-radius-lg
  );
}
.btn-sm {
  @include button-size(
    $btn-padding-y-sm,
    $btn-padding-x-sm,
    $btn-font-size-sm,
    $btn-border-radius-sm
  );
}
.btn-default {
  @include button-color(
    $white,
    $grey-4,
    $body-color,
    $white,
    $primary,
    $primary
  );
}
.btn-primary {
  @include button-color($primary, $primary, $white);
}
.btn-danger {
  @include button-color($danger, $danger, $white);
}
// .btn-link {
//   @include button-color($white, $white, $primary);
// }
