.wing-menu {
  position: relative;
  display: flex;
  padding: 0;
  user-select: none;
}
.wing-menu-horizontal {
  border-bottom: $menu-border-width solid $menu-border-color;
  .wing-menu-item {
    min-width: max-content;
    top: $menu-border-width;
    border-bottom: $menu-item-active-border-width solid transparent;
    > span {
      transition: $menu-transition;
      padding: 0 $menu-item-padding-x;
    }
    &:not([class*="is-disabled"]) > span:active {
      background-color: $menu-item-active-background-color;
    }
  }
  > .wing-menu-item.is-selected {
    border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
  }
  .wing-submenu {
    position: relative;
    z-index: 2;
    > .wing-submenu-title {
      padding: 0 $menu-item-padding-x;
    }
    > .wing-submenu-content {
      position: absolute;
      top: $menu-item-line-height + 10px;
      left: 0;
      box-shadow: $submenu-box-shadow;
      background-color: $white;
      > .wing-submenu > .wing-submenu-content {
        position: absolute;
        top: 0;
        left: 100%;
      }
    }
  }
  > .wing-submenu {
    &:hover,
    &.is-active {
      border-bottom: $menu-item-active-border-width solid
        $menu-item-active-color;
    }
  }
}
.wing-menu-vertical {
  flex-direction: column;
  right: $menu-border-width;
  border-right: $menu-border-width solid $menu-border-color;
  .wing-menu-item {
    > span {
      transition: $menu-transition;
      border-right: $menu-item-active-border-width solid transparent;
    }
    &:not([class*="is-disabled"]) > span:active,
    &.is-selected > span {
      background-color: $menu-item-active-background-color;
      border-right: $menu-item-active-border-width solid $menu-item-active-color;
    }
  }
  .wing-submenu {
    border-right: none;
  }
}
.wing-submenu-title {
  &:hover,
  &.is-active {
    color: $menu-item-active-color;
  }
}
.wing-menu-item {
  color: $black;
  transition: $menu-transition;
  position: relative;
  line-height: $menu-item-line-height;
  > span {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  cursor: pointer;
  list-style: none;
  &.is-selected {
    color: $menu-item-active-color;
  }
  &.is-disabled {
    color: $menu-item-disabled-color;
    cursor: not-allowed;
    &:hover,
    &:active {
      color: $menu-item-disabled-color;
    }
  }
  &:hover {
    color: $menu-item-active-color;
  }
}
.wing-submenu {
  > .wing-submenu-title > .wing-submenu-title-icon {
    margin-left: 4px;
    transition: transform ease-in 200ms;
  }
  &.is-open > .wing-submenu-title > .wing-submenu-title-icon {
    transform: rotate(180deg);
  }
}
