.zoom-in-top-enter {
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0);
}
.zoom-in-top-enter-active {
  opacity: 1;
  transform: scaleY(1);
  transform-origin: top;
  transition: all linear 200ms;
}
.zoom-in-top-exit {
  opacity: 1;
  transform-origin: top;
  transform: scaleY(1);
}
.zoom-in-top-exit-active {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all linear 200ms;
}
