.zoom-in-top-enter {
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0);
}
.zoom-in-top-enter-active {
  opacity: 1;
  transform: scaleY(1);
  transform-origin: top;
  transition: all linear 200ms;
}
.zoom-in-top-enter-done {
  opacity: 1;
  transform: scaleY(1);
  transform-origin: top;
}
.zoom-in-top-exit {
  opacity: 1;
  transform-origin: top;
  transform: scaleY(1);
}
.zoom-in-top-exit-active {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all linear 200ms;
}
.zoom-in-top-exit-done {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
}
.fade-in-top-enter {
  opacity: 0;
  transform: translateY(-100%);
}
.fade-in-top-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all linear 300ms;
}
.fade-in-top-enter-done {
  opacity: 1;
  transform: translateY(0);
  transition: all linear 300ms;
}
.fade-in-top-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-in-top-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: all linear 300ms;
}
.fade-in-top-exit-done {
  opacity: 0;
  transform: translateY(-100%);
  transition: all linear 300ms;
}